---
import Hero from "@/components/Hero.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <Hero />
  <main class="max-w-6xl container mx-auto px-10">TBC....</main>
</MainLayout>
